.row {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.two-col {
  	width: 49.2%;
}

.three-col{
  	width: 32.26%;
}

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
	.col {  margin: 1% 0 1% 0%; }
	.two-col, .three-col { width: 100%; }
}

.padded{
	padding: 0 10px;
}

.dahz-wrap{
 position: relative;
  margin: 25px 40px 0 20px;
  max-width: 1050px;
}

.theme-description{
 color: #777;
 font-size: 18px;
 margin: 1em 200px 1em 0;
}

.home-wrap .theme-badge{
position: absolute;
top: 0;
right: 0;
}

.theme-badge{
	text-align: center;
	width:150px;
	display: inline-block;
	margin-top: 15px;
	background-color: #fff;
}

.theme-badge img {
	vertical-align: middle;
}

.theme-badge p {
  background-color: #0073aa;
  color: #fff;
  margin: 0;
  padding: 1em 0;
  font-weight: 600;
  font-size: 14px;
}

.home-wrap h2{
  margin: .2em 200px 0 0;
  color: #32373c;
  line-height: 1.2em;
  font-size: 2.8em;
  font-weight: 400;
}

.home-wrap div.error, .home-wrap div.updated {
  display: none!important;
}

.dahz-welcome-panel{
	position: relative;
	min-height:200px;
}

.dahz-wrap ul.theme-info {
  color: #777;
}

.dahz-wrap ul.theme-info > li:first-child {
  float: left;
  line-height: 28px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.title{
	margin: 0;
	padding:10px;
	border-bottom: 1px solid #e5e5e5;
}
.tgmpa h2{
	display: none;
}
.more-item a{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.more-item a img{
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}
.more-item a img:hover{
  opacity: .6;
}
.dahz-wrap hr{
  margin: 40px 0px;
}
.dahz-wrap li{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
.dahz-wrap li a{
  text-decoration: none;
}

@media only screen and (max-width:480px) {
.home-wrap .theme-badge {
    width: 100%;
    display: block;
    position: relative;
  }
}
